<ion-header>

  <ion-toolbar>
    <ion-title align="center" color="secondary" class="main-title1 span" >PIA</ion-title>

  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-row class="ion-justify-content-start" >

    <ion-col size-lg="3"> 

      <div>
  
      <ion-button href="/home" style=" --background:translucent;" fill="clear" >
        <ion-icon name="arrow-back"  style="--background:translucent;" size="large"></ion-icon>
      </ion-button>

      </div>
      </ion-col>   
    </ion-row>
  

  <div class="ion-padding-top ion-padding-bottom">
  </div>

  <div class="ion-padding-top ion-padding-bottom">
  </div>
  

  <ion-row class="ion-justify-content-evenly" >

    <ion-col size-lg="4"> 
      <ion-card class="div-border pro-tip-color" style="border-radius: 10px;" >
      
        <ion-card-content>
          <p class=" h1-black regular-text " style=" font-weight:bold;">        
Piense cuidadosamente sus respuestas, una vez que pase a la página siguiente, su respuesta se almacenará permanentemente en nuestra base de datos.</p>
        </ion-card-content>
      </ion-card>
  </ion-col>

  <ion-col size-lg="4"> 
    <ion-card class="div-border pro-tip-color" style="border-radius: 10px;">
    
      <ion-card-content>
        <p class=" h1-black regular-text" style=" font-weight:bold;">
          
Le recomendamos que responda todas las preguntas, esto nos permitirá brindarle un resultado mejor y más preciso.
          <br>
          <br>
        </p>
      </ion-card-content>
    </ion-card>
</ion-col>

  </ion-row>

  <div class="ion-padding-top ion-padding-bottom">
  </div>

  <div class="ion-padding-top ion-padding-bottom">
  </div>


<ion-slides  align="center"  #slides >

    <ion-slide  *ngFor="let item of Items"  class="swiper-no-swiping" >

      <ion-card class="div-border">
        
        <div class="ion-padding-top ion-padding-bottom">
        </div>
      
        <ion-card-content class="ion-padding-bottom h1-black div-border"  >
        
          <h2 class="h1-black regular-text1 " id="item_body" style=" font-weight:bold;">{{item.body}}</h2>

          <div class="ion-padding-top ion-padding-bottom">
          </div>

        </ion-card-content>

      </ion-card>
    </ion-slide>

  </ion-slides>

  <div class="ion-padding-top ion-padding-bottom">
  </div>

  <div class="ion-padding-top ion-padding-bottom">
  </div>
   
<ion-grid fixed>

<ion-row class="ion-justify-content-center">
  
  <ion-col size-lg="2" class="ion-margin"> 
    <button type="submit" id="button1" class="btn bigger btnNext" (click) ="slide(); button1clicked()">
      <img src="../../assets/img/newhappy.png" />  
      <p  style=" font-weight:bold;" class="span regular-text">Totalmente de acuerdo</p>
   </button>
   
  </ion-col>
  

  <ion-col size-lg="2" class="ion-margin">
    <button  id="button2" class="btn bigger btnNext" (click) ="slide(); button2clicked()"  >
      <img src="../../assets/img/happiest.png"  />
      <p style=" font-weight:bold;" class="span regular-text">De acuerdo</p>
   </button>
   
  </ion-col>

  <ion-col size-lg="2" class="ion-margin">
    <button  id="button3" class="btn bigger btnNext" (click) ="slide(); button3clicked()" >
      <img src="../../assets/img/newsad.png"  />
      <p style=" font-weight:bold;" class="span regular-text">En desacuerdo</p>
   </button>
   
  </ion-col>
  
  <ion-col size-lg="2" class="ion-margin">
    <button   id="button4" class="btn bigger btnNext" (click) ="slide(); button4clicked()" >
      <img src="../../assets/img/newestangry.png"  />
      <p style=" font-weight:bold;" class="span regular-text">Muy en desacuerdo</p>
   </button>
  </ion-col>
</ion-row>

<div class="ion-padding-bottom"></div>
<div class="ion-padding-bottom"></div>

</ion-grid>

<ion-row class="ion-justify-content-center">
  <ion-col size="8">

<div class="ion-padding-bottom" >

<ion-progress-bar color="secondary"  value="0.7" class="progress-bar"></ion-progress-bar>

</div>

<div class="ion-padding-bottom"></div>

</ion-col>
</ion-row>
</ion-content>
