<ion-header>

  <ion-toolbar>
    <ion-title align="center" color="secondary" class="main-title span" >PIA</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-row class="ion-justify-content-around" >

    <ion-col size-lg="3"> 

      <div>
  
      <ion-button  href="/home" style=" --background:translucent;" fill="clear" >
        <ion-icon name="arrow-back"  style="--background:translucent;" size="large"></ion-icon>
      </ion-button>

      </div>
      </ion-col>   
    </ion-row>

    <ion-grid fixed>

      <ion-row class="ion-justify-content-evenly">
        <ion-col size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Ing.Paola Rodriguez</ion-card-subtitle>
            <ion-card-title>Asesora</ion-card-title>
          </ion-card-header>
      
          <img  class="responsive" src="../../assets/img/admin.png" />
        
          <ion-card-content>
            <div class="ion-text-justify ion-text-{modifier}">
              Ingeniera en Computacion egresada de la universidad Rafael Urdaneta. Msc en Telematica egresada de la Universidad Rafael Belloso Chacin.
              <br>paoorodriguez24@gmail.com
            </div>
          </ion-card-content>
        </ion-card>
      
        </ion-col>
    
      <ion-col size-lg="3">
    
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Betsabe Cohen</ion-card-subtitle>
          <ion-card-title>Desarrollador</ion-card-title>
        </ion-card-header>
    
        <img  class="responsive" src="../../assets/img/psicologia.png" />
      
        <ion-card-content>
          <div class="ion-text-justify ion-text-{modifier}">
          Estudiante de Ingenieria en Computacion en la Universidad Rafael Urdaneta.
          <br>
          betsabecohen123@gmail.com
        </div>
        </ion-card-content>
      </ion-card>
      </ion-col>
    
      <ion-col size-lg="3">
    
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Moises Gonzalez</ion-card-subtitle>
            <ion-card-title>Desarrollador</ion-card-title>
          </ion-card-header>
      
          <img  class="responsive" src="../../assets/img/cont.png" />
        
          <ion-card-content>
            <div class="ion-text-justify ion-text-{modifier}">
              Estudiante de Ingenieria en Computacion en la Universidad Rafael Urdaneta.
              <br>
              uru.moisesgonazlez@gmail.com
            </div>
          </ion-card-content>
        </ion-card>
        </ion-col>
      
        <ion-col size-lg="3">
      
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Psi.Marienny Ortega</ion-card-subtitle>
            <ion-card-title>Asesora</ion-card-title>
          </ion-card-header>
      
          <img  class="responsive" src="../../assets/img/psi.png" />
        
          <ion-card-content>
            <div class="ion-text-justify ion-text-{modifier}">
             Psicologa egresada de la Universidad Rafael Urdaneta con Magister en Psicologia Clinica.
             <br>
             marienys@gmail.com
            </div>
          </ion-card-content>
        </ion-card>
        </ion-col>
    
      </ion-row>
      
      </ion-grid>

</ion-content>
