<ion-header>

  <ion-toolbar>
    <ion-title align="center" color="secondary"  class="main-title span" >PIA</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <div class="ion-padding-top ion-padding-bottom">
  </div>

  <div class="ion-padding-top ion-padding-bottom">
  </div>

  <div class="ion-padding-top ion-padding-bottom">
  </div>

  <div class="ion-padding-top ion-padding-bottom">
  </div>

  <ion-slides  align="center" [options]="sliderConfig">

    <ion-slide>

      <ion-card class="div-border">
        
        <div class="ion-padding-top ion-padding-bottom">
        </div>
      
        <ion-card-content class="ion-padding-bottom h1-black div-border"  style=" font-weight:bold;">
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.

          <div class="ion-padding-top ion-padding-bottom">
          </div>


        </ion-card-content>

      </ion-card>
    </ion-slide>

    <ion-slide>

      <ion-card class="div-border">
        
        <div class="ion-padding-top ion-padding-bottom">
        </div>
      
        <ion-card-content class="ion-padding-bottom h1-black div-border"  style=" font-weight:bold;">
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.

          <div class="ion-padding-top ion-padding-bottom">
          </div>


        </ion-card-content>

      </ion-card>
    </ion-slide>

    <ion-slide>

      <ion-card class="div-border">
        
        <div class="ion-padding-top ion-padding-bottom">
        </div>
      
        <ion-card-content class="ion-padding-bottom h1-black div-border"  style=" font-weight:bold;">
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.

          <div class="ion-padding-top ion-padding-bottom">
          </div>


        </ion-card-content>

      </ion-card>
      
    </ion-slide>

  </ion-slides>

  <div class="ion-padding-top ion-padding-bottom">
  </div>

  <div class="ion-padding-top ion-padding-bottom">
  </div>

  <div class="ion-padding-top ion-padding-bottom">
  </div>

  <div class="ion-padding-top ion-padding-bottom">
  </div> 
   
<ion-grid fixed>

<ion-row class="ion-justify-content-center">

  <ion-col size-lg="2" class="ion-margin"> 
    <button class="btn responsive" >
      <img src="../../assets/img/strongly-agree.png" />
      <p>Strongly agree</p>
   </button>
  </ion-col>

  <ion-col size-lg="2" class="ion-margin">
    <button class="btn responsive" >
      <img src="../../assets/img/strongly-agree.png"  />
      <p>Strongly agree</p>
   </button>
  </ion-col>

  <ion-col size-lg="2" class="ion-margin">
    <button class="btn responsive" >
      <img src="../../assets/img/strongly-agree.png"  />
      <p>Strongly agree</p>
   </button>
  </ion-col>
  
  <ion-col size-lg="2" class="ion-margin">
    <button class="btn responsive" >
      <img src="../../assets/img/strongly-agree.png"  />
      <p>Strongly agree</p>
   </button>
  </ion-col>


</ion-row>

</ion-grid>

</ion-content>
