<ion-header>
  <ion-toolbar>
    <ion-title align="center" color="secondary" class="main-title span" >PIA</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-row class="ion-justify-content-start" >

    <ion-col size-lg="3"> 

      <div>
  
      <ion-button  href="/home" style=" --background:translucent;" fill="clear" >
        <ion-icon name="arrow-back"  style="--background:translucent;" size="large"></ion-icon>
      </ion-button>

      </div>
      </ion-col>   
    </ion-row>

       
<ion-grid fixed>

  <ion-row class="ion-justify-content-center">
    <ion-col size-lg="4">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Social Sciences</ion-card-subtitle>
      <ion-card-title>Laws</ion-card-title>
    </ion-card-header>

    <img  class="responsive" src="../../assets/img/7_avatar-512.png" />
  
    <ion-card-content>
      <div class="ion-text-justify">
      Represents clients in criminal and civil litigation and other legal proceedings, draw up legal documents, or manage or advise clients on legal transactions.
      May specialize in a single area or may practice broadly.
    </div>
    </ion-card-content>
  </ion-card>

  </ion-col>

  <ion-col size-lg="4">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Social Sciences</ion-card-subtitle>
      <ion-card-title>Psychology</ion-card-title>
    </ion-card-header>

    <img  class="responsive" src="../../assets/img/psi.png" />
  
    <ion-card-content>
      <div class="ion-text-justify">
      Psychologists study cognitive, emotional, and social processes and human behavior by analyzing how people relate to one another and their environments. 
     
    </div>
    </ion-card-content>
  </ion-card>
  </ion-col>

  <ion-col size-lg="4">

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Social Sciencies</ion-card-subtitle>
        <ion-card-title>Accountancy</ion-card-title>
      </ion-card-header>
  
      <img  class="responsive" src="../../assets/img/cont.png" />
    
      <ion-card-content>
        <div class="ion-text-justify">
          Provides financial information to management by researching and analyzing accounting data; preparing reports.
           Prepares asset, liability, and capital account entries by compiling and analyzing account information.
        </div>
      </ion-card-content>
    </ion-card>
    </ion-col>

  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size-lg="4">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Social Sciences</ion-card-subtitle>
      <ion-card-title>Business Administration</ion-card-title>
    </ion-card-header>

    <img  class="responsive" src="../../assets/img/admin.png" />
  
    <ion-card-content>
      <div class="ion-text-justify">
        The Business Administrator's duties will include overseeing and analyzing financial operations, approving purchases and expenditure, mediating between staff and other executives, appointing heads of departments,.
      </div>
    </ion-card-content>
  </ion-card>

  </ion-col>

  <ion-col size-lg="4">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Social Sciences</ion-card-subtitle>
      <ion-card-title>Political Sciences</ion-card-title>
    </ion-card-header>

    <img  class="responsive" src="../../assets/img/ciencias.png" />
  
    <ion-card-content>
      <div class="ion-text-justify">
        Political scientists study the origin, development, and operation of political systems. They research political ideas and analyze governments, policies, political trends, and related issues.
      </div>
    </ion-card-content>
  </ion-card>
  </ion-col>

  </ion-row>
  
  </ion-grid>

</ion-content>
