<ion-header>
  <ion-toolbar>
    <ion-title align="center" color="secondary" class="main-title span" >PIA</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-row class="ion-justify-content-start" >

    <ion-col size-lg="3"> 

      <div>
  
      <ion-button (click)="go()" style=" --background:translucent;" fill="clear" >
        <ion-icon name="arrow-back"  style="--background:translucent;" size="large"></ion-icon>
      </ion-button>

      </div>
      </ion-col>   
    </ion-row>
       
<ion-grid fixed>

  <ion-row class="ion-justify-content-center">
    <ion-col size-lg="4">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ciencias Sociales</ion-card-subtitle>
      <ion-card-title>Derecho</ion-card-title>
    </ion-card-header>

    <img  class="responsive" src="../../assets/img/7_avatar-512.png" />
  
    <ion-card-content>
      <div class="ion-text-justify">
        Representa a clientes en litigios penales y civiles y otros procedimientos legales, redacta documentos legales o administra o asesora a clientes en transacciones legales.
        Puede especializarse en un área única o puede practicar en general.
    </div>
    </ion-card-content>
  </ion-card>

  </ion-col>

  <ion-col size-lg="4">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ciencias Sociales</ion-card-subtitle>
      <ion-card-title>Psicologia</ion-card-title>
    </ion-card-header>

    <img  class="responsive" src="../../assets/img/psi.png" />
  
    <ion-card-content>
      <div class="ion-text-justify">

        Los psicólogos estudian los procesos cognitivos, emocionales y sociales y el comportamiento humano mediante el análisis de cómo las personas se relacionan entre sí y sus entornos.
     
    </div>
    </ion-card-content>
  </ion-card>
  </ion-col>

  <ion-col size-lg="4">

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Ciencias Sociales</ion-card-subtitle>
        <ion-card-title>Contaduria</ion-card-title>
      </ion-card-header>
  
      <img  class="responsive" src="../../assets/img/cont.png" />
    
      <ion-card-content>
        <div class="ion-text-justify">
          Brinda información financiera a la gerencia al investigar y analizar datos contables; preparación de informes
          Prepara entradas de activos, pasivos y cuentas de capital compilando y analizando la información de la cuenta.
        </div>
      </ion-card-content>
    </ion-card>
    </ion-col>

  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size-lg="4">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ciencias Sociales</ion-card-subtitle>
      <ion-card-title>Administracion de Empresas</ion-card-title>
    </ion-card-header>

    <img  class="responsive" src="../../assets/img/admin.png" />
  
    <ion-card-content>
      <div class="ion-text-justify">
        
Las tareas del administrador de negocios incluirán la supervisión y el análisis de las operaciones financieras, la aprobación de compras y gastos, la mediación entre el personal y otros ejecutivos, el nombramiento de jefes de departamento.
      </div>
    </ion-card-content>
  </ion-card>

  </ion-col>

  <ion-col size-lg="4">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ciencias Sociales</ion-card-subtitle>
      <ion-card-title>Ciencias Politicas</ion-card-title>
    </ion-card-header>

    <img  class="responsive" src="../../assets/img/ciencias.png" />
  
    <ion-card-content>
      <div class="ion-text-justify">
        Los politólogos estudian el origen, el desarrollo y el funcionamiento de los sistemas políticos. Investigan ideas políticas y analizan gobiernos, políticas, tendencias políticas y cuestiones relacionadas.
      </div>
    </ion-card-content>
  </ion-card>
  </ion-col>

  </ion-row>
  
  </ion-grid>

</ion-content>
