<ion-header>

  <ion-toolbar>

    <ion-title align="center" color="secondary" class="main-title1 span" >PIA</ion-title>

  </ion-toolbar>
  
</ion-header>

<ion-content>
  
  <div class="ion-padding-top ion-padding-bottom">
  </div>

  <ion-row class="ion-justify-content-center" >

  <ion-col size-lg="5"> 
    
    <ion-card class="div-border pro-tip-color" style="border-radius: 10px;">
    
      <ion-card-content>
        <p class=" h1-black regular-text ion-text-center" style=" font-weight:bold;" >
    
          <br>
          Espere mientras nuestro algoritmo analiza sus resultados.
          <br>
          <br>
    
        </p>
    
      </ion-card-content>

    </ion-card>

</ion-col>

</ion-row>

  <div class="ion-padding-bottom"></div>
  <div class="ion-padding-bottom"></div>
  <div class="ion-padding-top ion-padding-bottom"></div>
  <div class="ion-padding-top ion-padding-bottom"></div>

  <ion-slides id="slides" align="center" #slides>

    <ion-slide>

      <ion-card class="div-border">
        
        <div class="ion-padding-top ion-padding-bottom"></div>
      
        <ion-card-content style="width: 300px;" class="ion-padding-bottom  h1-black div-border"  style=" font-weight:bold;">

          Sabemos que fue un cuestionario largo, pero ya casi ha terminado, no cierre la página hasta que se muestren sus resultados.
          Mientras tanto, ¿Por qué no calificas nuestra prueba?

          <div class="ion-padding-top ion-padding-bottom"></div>

        </ion-card-content>

      </ion-card>

    </ion-slide >

    <ion-slide  class="swiper-no-swiping">

      <ion-card class="div-border">
        
        <div class="ion-padding-top ion-padding-bottom"></div>
      
        <ion-card-content class="ion-padding-bottom h1-black div-border"  style=" font-weight:bold;">

        Gracias por permitirnos ayudarte, por favor indica tu grado de conformidad con el funcionamiento del algoritmo. 
          
        <div class="ion-padding-top ion-padding-bottom"></div>

        </ion-card-content>

      </ion-card>

    </ion-slide>

    <ion-slide  class="swiper-no-swiping">

      <ion-card class="div-border">
        
        <div class="ion-padding-top ion-padding-bottom"></div>
      
        <ion-card-content class="ion-padding-bottom h1-black div-border"  style=" font-weight:bold;">

        Sientes que las afirmaciones constituyen un metodo efectivo en la creacion de herramientas destinadas a la orientacion vocacional?

          <div class="ion-padding-top ion-padding-bottom"></div>

        </ion-card-content>

      </ion-card>
      
    </ion-slide>

    <ion-slide  class="swiper-no-swiping">

      <ion-card class="div-border">
        
        <div class="ion-padding-top ion-padding-bottom"></div>
      
        <ion-card-content class="ion-padding-bottom h1-black div-border"  style=" font-weight:bold;">

        Finalmente, califica tu experiencia general como usuario.

          <div class="ion-padding-top ion-padding-bottom"></div>

        </ion-card-content>

      </ion-card>
      
    </ion-slide>

    <ion-slide  class="swiper-no-swiping">

      <ion-card class="div-border">
        
        <div class="ion-padding-top ion-padding-bottom">
        </div>
      
        <ion-card-content class="ion-padding-bottom h1-black div-border"  style=" font-weight:bold;">
        
          Gracias por permitirnos asistirte! Presiona el boton para ver tus resultados.

          <div class="ion-padding-top ion-padding-bottom"></div>
          
        </ion-card-content>

      </ion-card>
      
    </ion-slide>

  </ion-slides>

  <div class="ion-padding-bottom"></div>
  <div class="ion-padding-bottom"></div>
  <div class="ion-padding-bottom"></div>

<ion-grid fixed>

  <div class="ion-padding-top ion-padding-bottom">
  </div>

  <div class="ion-padding-top ion-padding-bottom">
  </div>

  <ion-row id="ansButtons" class="ion-justify-content-around" align="center">

    <ion-col size-lg="2" class="ion-margin"> 
      
      <button class="btn bigger" (click) ="slide(); increase();" >
        
        <img src="../../assets/img/newhappy.png" />  
        
        <p  style=" font-weight:bold;" class="span regular-text"></p>
     
      </button>
     
    </ion-col>
    
  
    <ion-col size-lg="2" class="ion-margin">
      
      <button class="btn bigger" (click) ="slide();">
      
        <img src="../../assets/img/happiest.png"  />
      
        <p style=" font-weight:bold;" class="span regular-text"></p>
     
      </button>
     
    </ion-col>
  
    <ion-col size-lg="2" class="ion-margin">
      
      <button class="btn bigger" (click) ="slide();">
      
        <img src="../../assets/img/newsad.png"  />
      
        <p style=" font-weight:bold;" class="span regular-text"></p>
     
      </button>
     
    </ion-col>
    
    <ion-col size-lg="2" class="ion-margin">
      
      <button class="btn bigger" (click) ="slide();" >
      
        <img src="../../assets/img/newestangry.png"  />
      
        <p style=" font-weight:bold;" class="span regular-text"></p>
     
      </button>
     
    </ion-col>

  </ion-row>

  <ion-row id="resultButton" class="ion-justify-content-center">
    
    <ion-col size-lg="4" size-md="4" size-sm="2">
  
      <div align="center">
  
        <ion-button (click)="go('button2')"  shape="round" expand= "block" size="large" align="center">
  
          <h1 align="center" class="span1" style=" font-weight:bold;"></h1>
          
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          
        </ion-button>
  
      </div>

    </ion-col>

  </ion-row>

  </ion-grid>

</ion-content>