<ion-header>

  <ion-toolbar>
    <ion-title align="center" color="secondary" class="main-title span" >PIA</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>

<ion-grid fixed>
<ion-row class="ion-justify-content-center">

  <ion-col size-lg="4" > 
    <ion-button  (click)="go('button1')" class = "span" shape="block"  color="primary" style=" font-weight:bold;" >Carreras</ion-button>
  </ion-col>

  <ion-col size-lg="4">
    <ion-button (click)="go('button2')" class = "span" shape="block" color="secondary" style=" font-weight:bold;">Sobre nosotros</ion-button>
  </ion-col>

  <ion-col size-lg="4">
    <ion-button  (click)="go('button3')" style=" font-weight:bold;" class = "span "  shape="block" color="tertiary" >Empieza la encuesta</ion-button>
  </ion-col>

</ion-row>

</ion-grid>

<div class="ion-padding-top ion-padding-bottom">
</div>

<div class="ion-padding-top ion-padding-bottom">
</div>

<ion-row size-lg="6" size-md="4" size-sm="2"class="ion-justify-content-center">
  <ion-col size-lg="6" size-md="4" size-sm="2" class="ion-padding-top">

<ion-text align="center" color="medium">
  
  <h1 style=" font-weight:bold;" class="span ion-padding-bottom  ion-text-{modifier} ion-text-uppercase">DISCLAIMER</h1>
</ion-text>

<div class="ion-padding-top ion-padding-bottom">
</div>

<div class="ion-padding-top ion-padding-bottom">
</div>

<div color="f0eaea;" class="ion-text-center ion-padding-top  ion-padding-bottom ion-padding-end div-border">

  <h1 style=" font-weight:bold;" class="span h1-black ion-text-{modifier}">
    La siguiente es una prueba de orientación vocacional realizada con la ayuda de un psicólogo especialista en el campo. Esto no significa que esta prueba pueda reemplazar la consulta de un profesional. Los resultados que puede proporcionar esta prueba no son exactos ni infalibles, solo intentamos ofrecer orientación, pero de ninguna manera le estamos ordenando qué estudiar en su próxima vida universitaria.</h1>

</div>

</ion-col>
</ion-row>


<div class="ion-padding-top ion-padding-bottom">
</div>

<div class="ion-padding-top ion-padding-bottom">
</div>

<div class="ion-padding-top ion-padding-bottom">
</div>

<div class="ion-padding-top ion-padding-bottom">
</div>

  <ion-row class="ion-justify-content-center">

  <ion-col size-lg="6" size-md="4" size-sm="2">

    <div align="center " class="ion-padding-start">

      <ion-button (click)="go('button4')" shape="round" expand= "block" size="large" align="center">

        <h1 align="center" class="span1" style=" font-weight:bold;">Empezar</h1>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        
      </ion-button>

    </div>

    <div class="ion-padding-top ion-padding-bottom">
    </div>

    <div class="ion-padding-top ion-padding-bottom">
    </div>

    <div class="ion-padding-top ion-padding-bottom">
    </div>

    <div class="ion-padding-top ion-padding-bottom">
    </div>

  </ion-col>
</ion-row>

</ion-content>




