<ion-header>

  <ion-toolbar>
    <ion-title align="center" color="secondary" class="main-title span" >PIA</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>

<ion-grid fixed>
<ion-row class="ion-justify-content-center">

  <ion-col size-lg="4" > 
    <ion-button  href="/pia-careers" class = "span" shape="block"  color="primary" style=" font-weight:bold;" >Careers</ion-button>
  </ion-col>

  <ion-col size-lg="4">
    <ion-button href="/pia-about-us" class = "span" shape="block" color="secondary" style=" font-weight:bold;">About us</ion-button>
  </ion-col>

  <ion-col size-lg="4">
    <ion-button  href="/pia-items" style=" font-weight:bold;" class = "span "  shape="block" color="tertiary" >Take the test</ion-button>
  </ion-col>

</ion-row>

</ion-grid>

<div class="ion-padding-top ion-padding-bottom">
</div>

<div class="ion-padding-top ion-padding-bottom">
</div>

<ion-row size-lg="6" size-md="4" size-sm="2"class="ion-justify-content-center">
  <ion-col size-lg="6" size-md="4" size-sm="2" class="ion-padding-top">

<ion-text align="center" color="medium">
  
  <h1 style=" font-weight:bold;" class="span ion-padding-bottom  ion-text-{modifier} ion-text-uppercase">DISCLAIMER</h1>
</ion-text>

<div class="ion-padding-top ion-padding-bottom">
</div>

<div class="ion-padding-top ion-padding-bottom">
</div>

<div color="f0eaea;" class="ion-text-center ion-padding-top  ion-padding-bottom ion-padding-end div-border">

  <h1 style=" font-weight:bold;" class="span h1-black ion-text-{modifier}">The following is a vocational orientation test made with the help of specialist psychologist in the field. This does not mean this test can replace the consultation of a professional. The results that this test can provide are not exact or infalible, we only intedn to offer guidance but we are not, in any way, ordering you what to study in your upcoming collegue life.</h1>

</div>

</ion-col>
</ion-row>

<div class="ion-padding-top ion-padding-bottom">
</div>

<div class="ion-padding-top ion-padding-bottom">
</div>

<div class="ion-padding-top ion-padding-bottom">
</div>

<div class="ion-padding-top ion-padding-bottom">
</div>

  <ion-row class="ion-justify-content-center">

  <ion-col size-lg="6" size-md="4" size-sm="2">

    <div align="center " class="ion-padding-start">

      <ion-button   href="/pia-items" shape="round" expand= "block" size="large" align="center">

        <h1 align="center" class="span1" style=" font-weight:bold;">Start </h1>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        
      </ion-button>

    </div>

    <div class="ion-padding-top ion-padding-bottom">
    </div>

    <div class="ion-padding-top ion-padding-bottom">
    </div>

    <div class="ion-padding-top ion-padding-bottom">
    </div>

    <div class="ion-padding-top ion-padding-bottom">
    </div>

  </ion-col>
</ion-row>

</ion-content>




